body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 780px;
}

.container.nav {
  height: 69px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 10px;
  width: 50px;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
}

.item {
  margin: 10px;
  right: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.banner {
  margin-top: 40px;
  height: 700px;
  width: 1200px;
  background-image: url("images/img-mission-background.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  width: 1200px;
  background-color: black;
}

.tea-product {
  width: 1000px;
  margin: auto;
}

.img-item {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.tea-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
  width: 1200px;
  height: 500px;
  background-image: url("images/img-locations-background.jpeg");
}

